/* line 1, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 4, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

/* line 8, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
h1 {
  font-family: 'Poiret One', sans-serif;
  color: #fff;
  font-size: 6em;
  padding: 40px;
  text-align: center; }

/* line 15, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
h2 {
  font-family: 'Poiret One', sans-serif;
  color: #fff;
  font-size: 4em;
  text-align: center; }

/* line 21, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
h3 {
  font-family: 'Poiret One', sans-serif;
  line-height: 100px;
  font-size: 2em; }

/* line 26, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
h4 {
  padding: 10px; }

/* line 29, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
a:link {
  text-decoration: none;
  color: black; }

/* line 33, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
a:hover {
  text-decoration: none;
  color: steelblue; }

/* line 37, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
a:visited {
  text-decoration: none;
  color: black; }

/* line 41, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/* line 46, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../images/header-img.jpeg);
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  line-height: 100px;
  color: #fff; }
  /* line 53, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  header div {
    padding-top: 10vh; }
  /* line 56, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  header button {
    background: transparent;
    border: 2px solid #fff;
    padding: 25px;
    border-radius: 10px;
    color: #fff;
    margin: 0 auto; }
  /* line 65, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  header button:hover {
    border: 2px solid darkgrey; }

/* line 69, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
section {
  padding: 50px 0; }

/* line 72, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
nav {
  text-align: center;
  line-height: 50px;
  width: 100%;
  background-color: #fff; }
  /* line 78, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  nav .menu li,
  nav ul {
    display: inline-block; }
  /* line 81, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  nav img {
    padding: 50px 45px 0; }

/* line 85, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.sticky {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  text-align: center;
  margin: 0 auto;
  border-bottom: 1px dotted lightgrey; }
  /* line 94, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .sticky ul.menu li {
    padding: 0 10px; }

/* line 103, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
ul.menu li {
  list-style-type: none;
  display: inline-block;
  color: darkgrey;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.5em;
  padding: 20px;
  font-size: 0.7em;
  font-weight: 600; }

/* line 115, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
hr {
  border: 0;
  border-top: 1px dotted lightgrey;
  width: 100%; }

/* line 120, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.underline {
  width: 50%;
  margin: 0 auto;
  padding: 50px; }

/* line 125, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
p {
  color: darkgrey;
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

/* line 130, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
#profilepic {
  border-radius: 50%;
  height: 250px;
  object-fit: cover;
  float: left; }

/* line 136, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.about-text {
  max-width: 60%;
  margin: 0 auto; }
  /* line 139, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .about-text p {
    line-height: 25px;
    padding: 25px; }
  /* line 143, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .about-text img {
    margin: 10px; }
  /* line 146, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .about-text button {
    display: inline-block;
    background: #fff;
    border: 1px dotted lightgrey;
    padding: 20px;
    margin: 0 auto; }
  /* line 153, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .about-text button:hover {
    border: 1px solid lightgrey; }

/* line 157, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.works {
  border: 1px solid lightgrey;
  width: 250px;
  height: 250px;
  margin: 20px;
  object-fit: contain;
  filter: grayscale(70%);
  padding: 25px; }

/* line 167, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
ul li {
  list-style-type: none;
  color: darkgrey; }

/* line 173, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.portfolio-work {
  border: 1px solid lightgrey;
  width: 250px;
  height: 250px;
  margin: 20px;
  object-fit: contain;
  filter: grayscale(70%);
  padding: 25px;
  display: inline-block; }

/* line 183, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default; }

/* line 195, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }
  /* line 206, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .hovereffect .overlay a:link, .hovereffect .overlay a:visited, .hovereffect .overlay a:hover {
    color: #fff; }

/* line 212, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear; }

/* line 219, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translatey(-100px);
  -ms-transform: translatey(-100px);
  transform: translatey(-100px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px; }

/* line 234, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.hovereffect a.info {
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin: 50px 0 0;
  padding: 7px 14px; }

/* line 249, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff; }

/* line 253, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.hovereffect:hover img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

/* line 259, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100); }

/* line 264, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.hovereffect:hover h2, .hovereffect:hover a.info {
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-transform: translatey(0);
  -webkit-transform: translatey(0);
  transform: translatey(0); }

/* line 272, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.hovereffect:hover a.info {
  -webkit-transition-delay: .2s;
  transition-delay: .2s; }

/* line 277, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.skills {
  line-height: 50px; }
  /* line 282, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .skills li {
    padding: 10px;
    display: inline;
    list-style-type: none;
    border-bottom: 1px dotted lightgrey;
    width: 100px;
    height: 100px;
    margin: 10px; }
  /* line 292, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .skills img {
    line-height: 20px;
    padding: 20px 20px 0px; }

/* line 297, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
footer {
  text-align: center;
  padding: 2em; }
  /* line 300, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  footer p {
    font-size: 0.8em;
    color: lightgrey; }
    /* line 303, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
    footer p a:link {
      color: lightgrey; }
    /* line 306, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
    footer p a:visited {
      color: lightgrey; }
    /* line 309, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
    footer p a:hover {
      color: grey; }

@media only screen and (min-width: 1200px) {
  /* line 315, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .container {
    width: 1200px; } }

@media (max-width: 768px) {
  /* line 328, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  h1 {
    font-size: 2em;
    padding: 0; }
  /* line 332, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  h2 {
    font-size: 1em;
    padding: 0; }
  /* line 337, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  nav img {
    display: none; }
  /* line 341, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  #profilepic {
    height: 100px; } }

/*# sourceMappingURL=main.css.map */