/* line 1, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_reset.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* line 5, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

/* line 10, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
h1 {
  font-family: 'Poiret One', sans-serif;
  color: #fff;
  font-size: 6em;
  padding: 40px;
  text-align: center; }

/* line 18, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
h2 {
  font-family: 'Poiret One', sans-serif;
  color: #fff;
  font-size: 4em;
  text-align: center; }

/* line 25, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
h3 {
  font-family: 'Poiret One', sans-serif;
  line-height: 100px;
  font-size: 2em; }

/* line 31, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
a:link {
  text-decoration: none;
  color: black; }

/* line 36, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
a:hover {
  text-decoration: none;
  color: steelblue; }

/* line 41, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
a:visited {
  text-decoration: none;
  color: black; }

/* line 46, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/* line 54, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
header {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../../images/header-img.jpeg);
  background-size: cover;
  min-height: 100vh;
  text-align: center;
  line-height: 100px;
  color: #fff; }
  /* line 64, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  header div {
    padding-top: 10vh; }
  /* line 67, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  header button {
    background: transparent;
    border: 2px solid #fff;
    padding: 25px;
    border-radius: 10px;
    color: #fff;
    margin: 0 auto; }
  /* line 75, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  header button:hover {
    border: 2px solid darkgrey; }

/* line 80, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
section {
  padding: 50px 0; }

/* line 84, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
nav {
  text-align: center;
  line-height: 50px; }
  /* line 87, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  nav img {
    padding: 50px 45px 0; }

/* line 99, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
ul.menu li {
  list-style-type: none;
  display: inline-block;
  color: darkgrey;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.5em;
  padding: 20px;
  font-size: 0.7em;
  font-weight: 600; }

/* line 112, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
hr {
  border: 0;
  border-top: 1px dotted lightgrey;
  width: 100%; }

/* line 119, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.underline {
  width: 50%;
  margin: 0 auto;
  padding: 50px; }

/* line 125, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
p {
  color: darkgrey;
  text-align: center;
  font-family: 'Open Sans', sans-serif; }

/* line 131, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
#profilepic {
  border-radius: 50%;
  height: 250px;
  object-fit: cover;
  float: left; }

/* line 138, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.about-text {
  max-width: 60%;
  margin: 0 auto; }
  /* line 142, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .about-text p {
    line-height: 25px;
    padding: 25px; }
  /* line 147, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .about-text img {
    margin: 10px; }
  /* line 150, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .about-text button {
    display: block;
    background: #fff;
    border: 1px dotted lightgrey;
    padding: 20px;
    margin: 0 auto; }
  /* line 157, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .about-text button:hover {
    border: 1px solid lightgrey; }

/* line 162, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.works {
  border: 1px solid lightgrey;
  width: 250px;
  height: 250px;
  margin: 20px;
  object-fit: contain;
  filter: grayscale(70%);
  padding: 25px; }

/* line 174, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
ul li {
  list-style-type: none;
  color: darkgrey; }

/* line 180, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
.skills {
  line-height: 50px; }
  /* line 185, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .skills li {
    padding: 10px;
    display: inline;
    list-style-type: none;
    border-bottom: 1px dotted lightgrey;
    width: 100px;
    height: 100px;
    margin: 10px; }
  /* line 195, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .skills img {
    line-height: 20px;
    padding: 20px 20px 0px; }

/* line 203, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
footer {
  text-align: center;
  padding: 2em; }
  /* line 207, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  footer p {
    font-size: 0.8em;
    color: lightgrey; }
    /* line 210, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
    footer p a:link {
      color: lightgrey; }
    /* line 213, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
    footer p a:visited {
      color: lightgrey; }
    /* line 216, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
    footer p a:hover {
      color: grey; }

@media only screen and (min-width: 1200px) {
  /* line 223, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  .container {
    width: 1200px; } }

@media (max-width: 768px) {
  /* line 237, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  h1 {
    font-size: 2em;
    padding: 0; }
  /* line 241, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  h2 {
    font-size: 1em;
    padding: 0; }
  /* line 246, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  nav img {
    display: none; }
  /* line 250, C:/Users/Patrycja/Desktop/programming/patrycjakubiczek.github.io/sass/partials/_base.scss */
  #profilepic {
    height: 100px; } }

/*# sourceMappingURL=main.css.map */