//* {
//    border: 1px solid red;
//}
body {
    font-family: $lato;
    font-size: 14px;
    color: $darkgrey;
}
p {
    text-align: center;
    font-family: $lato;
}

.container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    max-width: 1200px;
}

.hideme
{
    opacity:0;
}
//headings
h1 {
    font-family: $old;
    color: $darkgrey;
    font-size: 4em;
    padding: 40px;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
}
h2 {
    font-family: $old;
    color: $darkgrey;
    font-size: 2em;
    text-align: center;
    font-weight: normal;
}
h3 {
    font-family: $old;
    line-height: 100px;
    font-size: 2em;
    color: $darkgrey;
    font-weight: normal;
    text-transform: uppercase;
}
h4 {
    padding: 10px;
}
a {
    &:link {
        text-decoration: none;
        color: $darkgrey;
    }
    &:visited {
        text-decoration: none;
        color: $darkgrey;
    }
    &:hover {
        text-decoration: none;
        color: $darkpink;
    }
}
nav {
    text-align: center;
    width: 100%;
    background-color: transparent;
    .menu li,
    ul {
        display: inline-block;
    }
}
nav {
    a {
        &:link {
            text-decoration: none;
            color: black;
        }
        &:visited {
            text-decoration: none;
            color: black;
        }
        &:hover {
            transition: all 0.4s ease-out;
            text-decoration: none;
            color: $darkpink;
        }
    }
}
header {
    background: linear-gradient( rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.45)), url(../images/95cdfeef.jpg);
    background-size: cover;
    min-height: 100vh;
    max-height: 2000px;
    text-align: center;
    line-height: 100px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        &:link {
            text-decoration: none;
            color: $darkgrey;
        }
        &:visited {
            text-decoration: none;
            color: $darkgrey;
        }
        &:hover {
            transition: all 0.4s ease-out;
            text-decoration: none;
            color: $darkpink;
        }
    }
    button {
        background: transparent;
        border: 0;
        padding: 25px;
        color: #fff;
        margin: 0 auto;
        img {
            transform: translate(0, 0);
            transition: transform 0.4s ease-in-out;
        }
        &:hover {
            img {
                transform: translate(0, 20px);
                transition: transform 0.4s ease-in-out;
            }
        }
    }
}
section {
    padding: 75px 0;
}
//sticky menu
.sticky {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px dotted lightgrey;
    z-index: 2;
}
ul {
    &.menu {
        li {
            list-style-type: none;
            display: inline-block;
            color: darkgrey;
            text-transform: uppercase;
            font-family: $lato;
            padding: 20px 30px;
            font-size: 0.7em;
            font-weight: 600;
        }
    }
}
//line
hr {
    border: 0;
    border-top: 1px dotted lightgrey;
    width: 100%;
    &.underline {
        width: 50%;
        margin: 0 auto;
        padding: 40px;
    }
}
// about-me section
#profilepic {
    border-radius: 50% 0 50% 50%;
    height: 250px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}
.aboutme-text {
    max-width: 80%;
    margin: 0 auto;
    text-align: left;
    p {
        line-height: 35px;
        text-align: left;
    }
    span {
        font-weight: bolder;
    }
}
.resume {
    text-align: left;
}
//portfolio section
.works {
    width: 250px;
    height: 250px;
    margin: 20px;
    filter: grayscale(70%);
    padding: 25px;
}
.portfolio-work {
    //    border: 1px solid lightgrey;
    width: 200px;
    height: 200px;
    margin: 20px;
//    object-fit: cover;
        object-position: 50% 50%;
    filter: grayscale(70%);
    //    padding: 25px;
    display: inline-block;
}
.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    border: 10px solid #e2e2e2;
    .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        opacity: 0;
        background-color: rgba(255, 255, 255, 0.8);
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        //border: 1px solid lightgrey;
        a:link,
        .a:visited,
        {
            color: #000;
            padding: 10px;
        }
        a:hover {
            color: $darkpink;
        }
    }
    img {
        display: block;
        position: relative;
        -webkit-transition: all .4s linear;
        transition: all .4s linear;
    }
    h2 {
        font-family: $lato;
        font-weight: bolder;
        text-transform: uppercase;
        color: #000;
        text-align: center;
        position: relative;
        font-size: 16px;
        background: rgba(255, 255, 255, 0.8);
        -webkit-transform: translatey(-100px);
        -ms-transform: translatey(-100px);
        transform: translatey(-100px);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        padding: 10px;
        border-bottom: 1px solid lightgrey;
    }
    a.info {
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        color: #000;
        border: 2px solid #000;
        background-color: transparent;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        margin: 50px 0 0;
        padding: 7px 14px;
        :hover {
            box-shadow: 0 0 5px #fff;
        }
    }
}
.hovereffect:hover {
    img {
        -ms-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    .overlay {
        opacity: 1;
        filter: alpha(opacity=100);
    }
    h2,
    a.info {
        opacity: 1;
        filter: alpha(opacity=100);
        -ms-transform: translatey(0);
        -webkit-transform: translatey(0);
        transform: translatey(0);
    }
    a.info {
        -webkit-transition-delay: .2s;
        transition-delay: .2s;
    }
}
// footer section
footer {
    text-align: center;
    padding: 2em;
    background-color: #eeeeee;
    width: 100%;
    p {
        font-size: 0.8em;
        color: lightgrey;
        a:link {
            color: lightgrey;
        }
        a:visited {
            color: lightgrey;
        }
        a:hover {
            color: grey;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
@media only screen and (max-width: 768px) {
    h1 {
        padding: 0;
    }
    h2 {
        font-size: 1em;
        padding: 0;
    }
    nav {
        img {
            display: none;
        }
    }
    #profilepic {
        height: 100px;
    }
    hr {
        padding: 0;
    }
    li {
        padding: 5px;
    }
}