//fonts 
$playfair: 'Playfair Display', serif;
$opensans: 'Open Sans', sans-serif;

//colors

$purple: #500e5e;

@mixin flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($val) {
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    box-shadow: $val;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}